/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2021-02-13, 11:45:24
    Author     : student
*/
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;

}
h1{
    padding-top: 40px;
    text-align: center;  
    color: white;
    text-transform: uppercase;
    transition:  0.25s;
}
h2{
    margin-left: 40px;
    color: white;
    margin-bottom: 20px;
    transition:  0.25s;
}
h3{
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 40px;
}
.lista{
    width: 350px;
    background: #605f5f;
    display: block;
    margin-left: 40px;
    font-size: 14px;
    padding: 2px;
    transition: 0.1s;
    border: none;
}
.lista input[type="submit"]{
    background: none;
    display: block;
    padding: 9px 6px;
    outline: none;
    cursor: pointer;
    transition: 0.25s;
    border: none
}
.lista input[type="submit"]:hover{
    background: #3478db;
    color: white;
}
.powrot{
    background: none;
    width: 150px; 
    display: block;
    margin: 40px;
    border: 2px solid #3478db;
    text-align: center;
    color: white;
    font-size: 20px;
    transition: 0.25s;
    cursor: pointer;
    border-radius: 24px;
    padding: 15px 10px;
}
.powrot:hover{
    background: #3478db;
    width: 200px;
}
.delete{
    background: none;
    width: 200px;
    display: block;
    float: none;
    border: 2px solid #B9302C;
    text-align: center;
    color: white;
    font-size: 20px;
    transition: 0.25s;
    cursor: pointer;
    border-radius: 24px;
    padding: 15px 10px;
}
.delete:hover{
    width: 260px;
    background: #993010;
}
.download{
    background: none;
    margin-left: 40px;
    width: 200px;
    display: block;
    border: 2px solid #34db1b;
    float: left;
    text-align: center;
    color: white;
    font-size: 20px;
    transition: 0.25s;
    cursor: pointer;
    border-radius: 24px;
    padding: 15px 10px;
}
.download:hover{
    width: 260px;
    background: #34db1b;
}
.box{
    width: 420px;
    padding: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #565656;
    text-align: center;   
}
.box input[type="submit"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3478db;
    padding: 15px 10px;
    width: 280px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition:  0.25s;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
}
.box input[type="submit"]:hover{
    background: #3478db;
    width: 360px;
}
.box input[type="file"]{
    background: none;
    display: block;
    width: 320px;
    margin: 20px auto;
    outline: none;
    color: white;
    border-radius: 24px;
    font-size: 18px;
    box-shadow: 5px 5px 10px #34495e;
    cursor: pointer;
}
.box input[type="text"]{
    background: none;
    display: block;
    width: 320px;
    margin: 10px auto;
    outline: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding: 3px;
    box-sizing: border-box;
    transition: .4s;
}
.box input[type="text"]:focus{
    box-shadow: 0 0 4px 0 #3478db;
    border-color: #3478db;
}
.text {
    text-transform: uppercase;
    background: none;
    font-size: 22px;
    color: white;
    outline: none;
    margin-bottom: 50px;
}
